CS410Project/.vs/*
CS410Project/bin/*
CS410Project/obj/*
CS410Project/CS410Project.v12.suo
CS410Project/properties/*
SampleFTPExample/.vs/*
SampleFTPExample/SampleFTPExample/bin/*
SampleFTPExample/SampleFTPExample/obj/*
SampleFTPExample/SampleFTPExample.v12.suo